<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TK's Soul Truck</h1>
    <div>
        <a href="/menu">Menu</a>
        <a href="/">Home</a>
        <a href="/form/selection">Catering/Contact Us</a>
        <a href="/about">About Us/Location</a>
    </div>
    <form action="/submit/contact_request" method="POST">
        <table>
            <tr>
                <td>First Name:</td>
                <td><input type="text" name="first_name"></td>
            </tr> <tr>
                <td>Last Name:</td>
                <td><input type="text" name="last_name"></td>
            </tr> <tr>
                <td>Email:</td>
                <td><input type="email" name="email"></td>
            </tr> <tr>
                <td>Phone #:</td>
                <td><input type="tel" name="phone"></td>
            </tr> <tr>
                <td>Name Of Company:</td>
                <td><input type="text" name="company"></td>
            </tr> <tr>
                <td>Address:</td>
                <td><input type="text" name="address"></td>
            </tr> <tr>
                <td>City:</td>
                <td><input type="text" name="city"></td>
            </tr> <tr>
                <td>State:</td>
                <td><input type="text" name="state"></td>
            </tr> <tr>
                <td>Zip Code:</td>
                <td><input type="number" name="zip"></td>
            </tr> <tr>
                <td>Description:</td>
                <td><textarea name="description" cols="30" rows="10"></textarea></td>
            </tr>
        </table>
        <input type="submit" value="Submit Request">
    </form>
</body>
</html>